airflow-dbt
apache-airflow
apache-airflow-providers-celery
apache-airflow-providers-cncf-kubernetes
apache-airflow-providers-ftp
apache-airflow-providers-http
apache-airflow-providers-imap
apache-airflow-providers-sqlite
boto3
botocore
agate
attrs
Babel
certifi
cffi
charset-normalizer
click
colorama
dbt-core
dbt-extractor
dbt-spark
future
hologram
idna
isodate
Jinja2
jsonschema
leather
Logbook
MarkupSafe
mashumaro[msgpack]
minimal-snowplow-tracker
msgpack
networkx
packaging
parsedatetime
pure-sasl
pycparser
PyHive
pyparsing
pyrsistent
python-dateutil
python-slugify
pytimeparse
pytz
PyYAML
requests
sasl
six
sqlparams
sqlparse
text-unidecode
thrift
thrift-sasl
typing_extensions
urllib3
Werkzeug
